table {
  border-collapse: collapse;
  margin: auto;
  margin-bottom: 10px;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.center {
  text-align: center;
  margin: auto;
  display: flex;
  gap: 20px;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.centered {
  text-align: center;
  margin: auto;
}
.total {
  color: #00695c;
  font-weight: bold;
}
